@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    @apply py-10 md:py-20 space-y-5 md:space-y-10 font-helvetica;
  }
  p {
    @apply text-lg md:text-xl lg:text-2xl text-secondary font-helvetica font-[300px];
  }
  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl text-stride font-helvetica font-[800px];
  }
  h2 {
    @apply text-2xl lg:text-3xl;
  }
  input {
    @apply text-secondary bg-[#f0f0f0] text-lg rounded-full p-5 px-6 w-full focus:ring-2 focus:ring-stride focus:outline-none;
  }
  textarea {
    @apply text-secondary bg-[#f0f0f0] text-lg rounded-3xl p-5 px-6 w-full focus:ring-2 focus:ring-stride focus:outline-none;
  }
}


