/* If you prefer using the CDN version, you can uncomment these lines:
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-75-bold');
*/

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/helvetica-neue-5/HelveticaNeueBold.otf') format('opentype');
  font-weight: 700; /* Bold weight */
  font-style: bold;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('/helvetica-neue-5/HelveticaNeue.otf') format('opentype');
  font-weight: 400; /* Normal weight */
  font-style: normal;
}

/* Tailwind base imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base layer styles */
@layer base {
  section {
    @apply py-10 md:py-20 space-y-5 md:space-y-10 font-helvetica;
  }

  p {
    @apply text-lg md:text-xl lg:text-2xl text-secondary font-helvetica font-normal;
  }

  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl text-stride font-helvetica font-bold;
  }

  h2 {
    @apply text-2xl lg:text-3xl;
  }

  input {
    @apply text-secondary bg-[#f0f0f0] md:text-lg rounded-full p-5 px-6 w-full focus:ring-2 focus:ring-stride focus:outline-none;
  }

  textarea {
    @apply text-secondary bg-[#f0f0f0] md:text-lg rounded-3xl p-5 px-6 w-full focus:ring-2 focus:ring-stride focus:outline-none;
  }
}
